In [25]:
import pandas as pd
from selenium import webdriver

navegador = webdriver.Chrome()
navegador.get('https://google.com')

In [26]:
tabela = pd.read_excel('commodities.xlsx')
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8   Tilápia         9.05          NaN      NaN

In [27]:
for linha in tabela.index:

    produto = tabela.loc[linha, 'Produto']
    link = f'https://www.melhorcambio.com/{produto}-hoje'
    link = link.replace('ã','a').replace('é','e').replace('ç','c').replace('ó','o').replace('ú','u').replace('á','a')
    navegador.get(link)

    preco = navegador.find_element('xpath','//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace('.','').replace(',','.')
    preco = float(preco)

    tabela.loc[linha, 'Preço Atual'] = preco

In [28]:
tabela['Comprar'] = tabela['Preço Atual'] < tabela['Preço Ideal']
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        54.82     True
1      Soja       163.59       133.95     True
2       Boi       282.20       253.30     True
3  Petróleo       424.37       385.16     True
4   Algodão       497.76       406.85     True
5    Açúcar       136.23       150.15    False
6      Café      1092.87      1018.01     True
7      Ouro       321.77       312.48     True
8   Tilápia         9.05         9.84    False

In [29]:
navegador.quit()
tabela.to_excel('commodities_atualizado.xlsx', index=False)